<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.children.littlewalter"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <permission
        android:name="com.wearable.gemini.database.permission.ACCESS_PROVIDER"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wearable.gemini.database.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".LittleWalterApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ResourceLibraryActivity"/>

        <activity android:name=".activity.ResourceLibraryDetailActivity"/>

        <activity android:name=".activity.ShowCardActivity"
            android:theme="@style/Theme.Light.FullScreenDialogAct"/>

        <activity android:name=".activity.NewCategoryActivity"
            android:theme="@style/Theme.Light.FullScreenDialogAct"/>

        <activity android:name=".activity.NewCardActivity"
            android:theme="@style/Theme.Light.FullScreenDialogAct"/>

        <activity android:name=".activity.EditCardActivity"
            android:theme="@style/Theme.Light.FullScreenDialogAct"/>

        <activity android:name="android.pattern.imagefactory.ImageFactoryActivity"/>

        <service android:name=".soundrecorder.RecordService" />
    </application>

</manifest>
